{% extends 'base.html' %}
{% block title %}All paragraphs | Nextparagraph{% endblock %}
{% block content %}
    <div class="container">

    <h1>All paragraphs</h1>
<div class="row">
  {% for paragraph in new_paragraphs_all %}
  <div class="col-sm-12 col-md-6 col-xl-4">
    <div class="home-paragraph-box d-flex flex-column">
      <div class="author">
        {% if paragraph.paragraph_author.author_image %}
        <img src="{{ paragraph.paragraph_author.author_image.url }}" alt="" class="author-image">
        {% endif %}
        <div class="author-name">
          {{ paragraph.paragraph_author.get_full_name }}
        </div>
      <div class="home-paragraph-date-added">{{ paragraph.user_paragraph_date|date:'d M Y' }}</div>
      </div>
      <div class="box-colon-text">
        Added:
      </div>
      <div class="home-paragraph-text">
        {{ paragraph.user_paragraph|linebreaksbr|truncatewords:50 }}
      </div>
      <div class="mt-auto">
        <div class="box-colon-text">
          To:
        </div>
        <div class="home-paragraph-title">
          <a href="{% url 'story' slug=paragraph.story_belongs_to.slug pk=paragraph.story_belongs_to.pk %}">{{ paragraph.story_belongs_to }}</a>
        </div>
        <a href="{% url 'story' slug=paragraph.story_belongs_to.slug pk=paragraph.story_belongs_to.pk %}" class="btn btn-primary black-button">Read</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
    </div>

{% endblock %}
