.container .article {
    border-radius: 4px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    padding: 70px 100px 100px 70px;
}

.article-title {
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.article-date-info {
  font-family: 'Roboto Slab',serif;
  font-size: 18px;
  color: #000000;
}

 .article-first-para {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}

 .article-paragraph-text {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  text-align: justify;
  color: #000000;
     margin: 30px 0 10px 0;
}
 .article-paragraph-author-image {
     width: 30px;
     height: 30px;
     border-radius: 50%;
     margin-right: 4px;
     vertical-align: middle;
     display: inline;
 }

 .article-paragraph-author-name {
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  font-weight: 300;
  color: #000000;
     display: inline;
 }